*{
    margin:0;
    padding:0;
}

html{
    scroll-behavior: smooth;
}

.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 38%;
    border: 3px solid #dbebdb;
    border-radius: 50px;
}


.navbar{
    
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.nav-list{
    width: 50%;
    display: flex;
    align-items: center;

}
.nav-list li{
    list-style: none;
    padding: 21px 17px;
    font-size: 18px;

}
.nav-list li a:hover{
    text-decoration: none;
    color:rgb(238, 232, 232);

}

.rightNav{
    width: 50%;
    padding: 15px 9px;
    
    text-align: right;
}

#search{
    padding: 5px;
    font-size: 11px;
    border: 2px solid grey;
    border-radius: 9px;
}

.background{
    background: rgba(0, 0, 0, 0.7) url('../img/pocket-watch.jpg');
    background-size: cover;
    background-blend-mode: darken;
}
.firstsection{
    height: 128vh;
}

.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: seashell;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 100%;
    margin: auto;
    height: 71%;
    
}


.firsthalf{
width: 80%;
display: flex;
flex-direction: column;
justify-content: center;

}
.header{
    font-family: serif;
    font-size: 60px;
    text-align: center;
    color: #ddcccc;
}

.secondhalf{

    width: 30%;

}
.secondhalf img{
    width: 166%;
    border-radius: 56%;
    border: 4px solid white;
}

.text-big{
    font-size: 30px;

}
.text-small{
    font-size: 18px;

}

.btn{
    padding: 4px 12px;
    margin: 1px 1px;
    border: 2px solid white;
    border-radius: 8px;
    font-size: 13px;
    color: seashell;
    background: none;
    cursor: pointer;
}

.btn-sm{
    padding: 1px 8px;
    vertical-align: middle;
    color: white;
}

.btn-dark{
    color: black;
    border: 2px solid black;

}
.form input.btnSubmit{
    width: max-content;
    margin-left: 141px;
    cursor: pointer;
    
}

.section{
    height: 174px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 43px 33px;
}


.paras{
    padding: 22px 19px;
    height: 214px;
}

.sec-left{
    flex-direction: row-reverse;
}
.thumbnail img{
    width: 159px;
    border: 2px solid black;
    border-radius: 22px;
    padding: 2px 2px;
}

.contact{
    background-color: rgb(214, 212, 209);
    height: 85vh;
}
.text-center{
    text-align: center;
    padding: 20px 22px;
    font-size: 27px;
}
    
.form{
    max-width: 344px;
    margin: auto;
}

.form input{
    margin: 16px 0px;
    width: 100%;
    padding: 10px 14px;
    font-size: 15px;
    border: 2px solid grey;
    border-radius: 9px 9px;
}
#text.form-input{
    width: 369px;
}
.text-footer{
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0px;
}

.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;

}
.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
}


/*small mobile screem */

@media only screen and (max-width: 1140px){

    .nav-list{
        flex-direction: column;
        font-size: 20px;
    }

    .navbar{    
        height: 488px;
        background-size: 171%;
        flex-direction: column;
        transition: all 0.3s ease-out;
       
    }
    .firstsection {
        height: 62vh;
    }
    .box-main{
        height: 83%;
    }

    #search{
        width: 100%;
    }
    .rightNav {
        text-align: center;
    }
    .burger{
        display: block;
    }
    .logo img{
        width: 129%;
    }
    .section {
        height: 398px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 9px 7px;
        margin: 14px;
        flex-direction: column-reverse;
    }
    .sec-left{
        flex-direction: column-reverse;
    }
    .text-big {
        font-size: 24px;
    }
    .text-small {
        font-size: 10px;
    }
    .form {       
       width: 75%;   
    }
    .contact {
        height: 75vh;
    }
    .form-input{
        width:112%;
    }
    .h-nav-resp{
        height: 50px;
    }
    .v-class-resp{
        opacity: 0;
    }
    
}